<h1>test</h1>
<form action="/get" class="form-group">
<input type="text" name="prod" value="{{test}}">
<input type="submit" name:"done">
</form>

<a href="/gallery">gallery</a>

{{#each doc}}

<p>{{product}}</p>
<p>{{amount}}</p>

{{/each}}